<div class="section categories" style="padding: 5rem 0 4rem !important;">
  <h3>Select the agency</h3>
  <div class="container">
    <div class="row">
      <div class="one-half column category">
        <a href="/agencies/sf-muni"><img class="u-max-full-width" src="/assets/sf-muni.png"></a>
      </div>
      <div class="one-half column category">
        <a href="/agencies/bart"><img class="u-max-full-width" src="/assets/bart.png"></a>
      </div>
    </div>

    <div class="row">
      <div class="one-half column category">
        <a href="/agencies/caltrain"><img class="u-max-full-width" src="/assets/caltrain.jpg"></a>
      </div>
      <div class="one-half column category">
        <a href="/agencies/<%= CGI.escape("ac transit") %>"><img class="u-max-full-width" src="/assets/ac-transit.jpg"></a>
      </div>
    </div>
  </div>
</div>