<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">No more standing in line at a station waiting for the bus. Reach there on time.</h4>
        <a class="button button-primary" href="/agencies">Try SmartRoute</a>
      </div>
      <div class="one-half column phones" >
        <img class="phone" src="assets/bus.png">
      </div>
    </div>
  </div>
</div>